doctype html
html(lang='uk')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    header.header
      nav.nav
        .container
          .nav-brand
            a(href='/') Express API
          .nav-links
            a(href='/users/page') Користувачі
            a(href='/articles/page') Статті
    
    main.main
      .container
        block content
    
    footer.footer
      .container
        p &copy; 2025 Express API. Всі права захищені.